.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.img-responsive .centree {
	margin: 0 auto;
}
.col {
	font-size: 3em;
	max-width: 2em;
	margin: auto;
}
.text-center {
	color: whitesmoke;
}
.list-group-item {
	font-size: 20px;
    background-color:dimgrey;
    color: whitesmoke;
}
.rounded-pill {
	background-color:rgb(150, 150, 150);
}
.progress-bar-fr {
	background-color: hsl(120, 100%, 20%);
	height: 100%;
	width: 100%;
}
.progress-bar-eng {
	background-color: darkgreen;
	height: 100%;
	width: 85%;
}
.progress-bar-ger {
	background-color: darkgreen;
	height: 100%;
	width: 50%;
}
.progress-bar-jp {
	background-color: darkgreen;
	height: 100%;
	width: 5%;
}
